<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tiny-slider.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

  <title>Cart</title>
</head>

<body>

  <!-- Start Header/Navigation -->
  {% include 'header.html' %}
  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Cart</h1>
          </div>
        </div>
        <div class="col-lg-7">
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for item_key,item in resp.items() %}
                <tr>
                  <td class="product-thumbnail">
                    <div><span id="image-{{ item_key }}" style="display: none;">{{ item.image }}</span><img class="img-fluid" src="{{ url_for('static', filename='images/' + item.image) }}"></div>
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black"><span id="name-{{ item_key }}">{{ item.name }}</span></h2>
                    <!-- <div class="row text-muted"><span id="name-{{ item_key }}">{{ item.name }}</span></div> -->
                    <h3 class="h5 text-black"><span id="description-{{ item_key }}">{{ item.description }}</span></h3>
                    <!-- <div class="row"><span id="description-{{ item_key }}">{{ item.description }}</span></div> -->

                  </td>
                  <td id="price-{{ item.id }}">₹{{ item.price }}</td>
                  <!-- <div class="col"><span id="price-{{ item_key }}">{{ item.price }}</span> <span class="close">&#10005;</span></div> -->

                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-black decrease quantity-btn" data-item-id="{{ item_key }}" data-increment="-" type="button">&minus;</button>
                      </div>
                      <span class="form-control text-center" id="quantity-{{ item_key }}">1</span>
                      <!-- <input type="text" class="form-control text-center quantity-amount" id="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> -->
                      <div class="input-group-append">
                        <button class="btn btn-outline-black increase quantity-btn" data-item-id="{{ item_key }}" data-increment="+" type="button">&plus;</button>
                      </div>
                    </div>
                  </td>
                  <td id="price"><span id="price-{{ item_key }}">${{ item.price }}</span></td>
                  <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-black btn-sm btn-block">Update Cart</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <select class="form-control py-3" id="coupon">
                <option value="0" data-discount="0">Select a coupon</option>
                <option value="coupon1" data-discount="5">5% Off</option>
                <option value="coupon2" data-discount="10">10% Off</option>
                <option value="coupon3" data-discount="15">15% Off</option>
              </select>
            </div>
            <div class="col-md-4">
              <button class="btn btn-black">Apply Coupon</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="cart-subtotal"><span id="total-amount">{{ initialTotal }}</span></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="cart-total"><span id="total-amount-2">{{ initialTotal }}</span></strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-black btn-lg py-3 btn-block" id="proceedToCheckout">Proceed To Checkout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start footer Section -->
  {% include 'footer.html' %}
  <!-- End footer Section -->

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  <script>

  const cartData = {{ resp | tojson | safe }};

  // Function to calculate total amount
  function calculateTotalAmount() {
      let total = 0;
      for (const itemId in cartData) {
          const item = cartData[itemId];
          const priceElement = document.getElementById(`price-${itemId}`);
          total += parseFloat(priceElement.textContent.replace('$', ''));
      }
      return total.toFixed(2);
  }

  // Function to calculate total quantity
  function calculateTotalQuantity() {
      let itemCount = 0;
      for (const itemId in cartData) {
          const item = cartData[itemId];
          const quantityElement = document.getElementById(`quantity-${itemId}`);
          const quantity = parseInt(quantityElement.textContent.trim());
          itemCount += quantity;
      }
      return itemCount;
  }

  // Update total quantity and amount on page load
  window.addEventListener('load', function() {
      const totalAmountElement = document.getElementById('total-amount');
      const totalAmountElement2 = document.getElementById('total-amount-2');
      const itemCountElement = document.getElementById('item-count');
      totalAmountElement.textContent = '$' + calculateTotalAmount();
      totalAmountElement2.textContent = '$' + calculateTotalAmount();
      itemCountElement.textContent = calculateTotalQuantity();
  });

  // Add event listeners to quantity buttons
  document.querySelectorAll('.quantity-btn').forEach(button => {
      button.addEventListener('click', function() {

          const itemId = this.getAttribute('data-item-id');
          const increment = this.getAttribute('data-increment');
          const quantityElement = document.getElementById(`quantity-${itemId}`);
          const priceElement = document.getElementById(`price-${itemId}`);
          let quantity = parseInt(quantityElement.textContent);
          let price = parseFloat(priceElement.textContent.replace('$', '')); // Remove currency symbol

          // Retrieve item object from cartData
          const item = cartData[itemId];

          if (increment === '-') {
              if (quantity > 1) {
                  quantity--;
                  price -= parseFloat(item.price.replace('$', '')); // Remove currency symbol
              }
          } else {
              quantity++;
              price += parseFloat(item.price.replace('$', '')); // Remove currency symbol
          }

          quantityElement.textContent = quantity;
          priceElement.textContent = '$' + price.toFixed(2); // Add currency symbol back

          // Update total amount and quantity
          const totalAmountElement = document.getElementById('total-amount');
          const totalAmountElement2 = document.getElementById('total-amount-2');
          const itemCountElement = document.getElementById('item-count');
          totalAmountElement.textContent = '$' + calculateTotalAmount();
          totalAmountElement2.textContent = '$' + calculateTotalAmount();
          itemCountElement.textContent = calculateTotalQuantity();
      });
  });

  document.addEventListener('DOMContentLoaded', function() {
  const buyNowBtn = document.getElementById('buyNowBtn');

  
  document.getElementById('proceedToCheckout').addEventListener('click', function() {
  const items = [];
  document.querySelectorAll('.quantity-btn').forEach(button => {
    const itemId = button.getAttribute('data-item-id');
    const quantity = parseInt(document.getElementById(`quantity-${itemId}`).textContent);
    const name = document.getElementById(`name-${itemId}`).textContent;
    const image = document.getElementById(`image-${itemId}`).textContent;
    const priceElement = document.getElementById(`price-${itemId}`);
    const price = parseFloat(priceElement.textContent.replace('$', ''));
    items.push({ itemId, quantity, price, name, image });
  });

  const subtotal = parseFloat(document.getElementById('total-amount').textContent.replace('$', ''));
  const total = parseFloat(document.getElementById('total-amount-2').textContent.replace('$', ''));
  const coupon = document.getElementById('coupon').value;

  const data = {
    items: items,
    subtotal: subtotal.toFixed(2),
    total: total.toFixed(2),
    coupon: coupon
  };

  fetch('/redirect', {
    method: 'POST',
    headers: {
        'Content-Type': 'application/json'
    },
    body: JSON.stringify({data:data})
  })
  .then(response => {
      if (response.ok) {
          // Redirect user to the checkout page
          window.location.href = '/checkout';
      } else {
          // Handle error response
          console.error('Error:', response.status);
      }
  })
  .catch(error => console.error('Error:', error));
  });

  buyNowBtn.addEventListener('click', function() {
      const spinner = document.getElementById('spinner');
      spinner.style.display = 'block';
      
      const items = [];
      const totalAmountText = document.getElementById('total-amount').textContent;
      // var totalAmount = parseFloat(totalAmountText.replace('$', ''));

      // Iterate over each item in the cart
      document.querySelectorAll('.quantity-btn').forEach(button => {
          const itemId = button.getAttribute('data-item-id');
          const quantity = parseInt(document.getElementById(`quantity-${itemId}`).textContent);
          // const price = parseFloat(document.getElementById(`price-${itemId}`).textContent);
          const name = document.getElementById(`name-${itemId}`).textContent; // Get the name of the item
          const image = document.getElementById(`image-${itemId}`).textContent; // Get the image source of the item
          const priceElement = document.getElementById(`price-${itemId}`);
          const price = parseFloat(priceElement.textContent.replace('$', ''));
          // totalAmount = quantity * price ;
          items.push({ itemId, quantity, price, name, image }); 
      });

      const shipping = document.querySelector('select').value;
      const discountCode = document.getElementById('coupon').value;

      // Construct the data object to send to the API
      const data = {
          items,
          totalAmount,
          shipping,
          discountCode
      };


      // Make an AJAX POST request to your API endpoint
      fetch('/order', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          // body: JSON.stringify(data)
          body: JSON.stringify({
                items: items,
                totalAmount: totalAmount,
                shipping: shipping,
                discountCode: discountCode
          })
      })
      .then(response => {
          spinner.style.display = 'none';

          if (response.ok) {
              // Redirect to another page if response is successful
              window.location.href = '/order-confirmed';
              alert('Congrats: Order Confirmed ');

          } else {
              // Handle other response statuses
              alert('Error: ' + response.message);
          }
      })
      .catch(error => {
          spinner.style.display = 'none';

          // Handle error
          console.error('Error:', error);
          // Optionally, display an error message to the user
      });
  });
  });

</script>
</body>
</html>
