<!-- Start Header/Navigation -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}"/>

<nav class="custom-navbar navbar navbar-expand-md navbar-dark bg-dark" aria-label="Furni navigation bar">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index')}}">Furni<span>.</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'index' %}active{% endif %}" href="{{ url_for('index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'shop' %}active{% endif %}" href="{{ url_for('shop')}}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'about' %}active{% endif %}" href="{{ url_for('about')}}">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'services' %}active{% endif %}" href="{{ url_for('services')}}">Services</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'blog' %}active{% endif %}" href="{{ url_for('blog')}}">Blog</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link {% if request.endpoint == 'contact' %}active{% endif %}" href="{{ url_for('contact')}}">Contact us</a>
                </li>
            </ul>

            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('myorders') }}">
                        <div class="box">
                            <div class="icon-text-container">
                                <i class="fa fa-truck" aria-hidden="true" style="font-size:20px;"></i>
                                <span>Orders</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('cart') }}">
                        <div class="box">
                            <div class="icon-text-container">
                                <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:20px;"></i>
                                <span>Cart</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="nav-item dropdown" id="userDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="box">
                            <div class="icon-text-container">
                                {% if session.get('profile_image') %}
                                    <img src="{{ session.get('profile_image') }}" alt="Profile Image" class="profile-image">
                                {% else %}
                                    <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 30px; color: #004d40;"></i>
                                {% endif %}
                                <span>{{ session.get('username', 'User') }}</span>
                            </div>
                        </div>                        
                    </a>
                    <ul class="dropdown-menu dropdown-content" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="{{ url_for('view_profile') }}">Go to Profile Edit</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const userDropdown = document.getElementById('dropdownMenuLink');

        userDropdown.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default action of the link
            this.parentElement.classList.toggle('active');
        });

        // Close the dropdown if clicked outside of it
        window.addEventListener('click', function(event) {
            if (!userDropdown.contains(event.target)) {
                document.getElementById('userDropdown').classList.remove('active');
            }
        });
    });
</script>
<!-- End Header/Navigation -->
