<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tiny-slider.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>

  <title>Cart</title>
</head>

<body>

  <!-- Start Header/Navigation -->
  {% include 'header.html' %}
  <!-- End Header/Navigation -->

  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Cart</h1>
          </div>
        </div>
        <div class="col-lg-7">
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->

  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Image</th>
                  <th class="product-name">Product</th>
                  <th class="product-price">Price</th>
                  <th class="product-quantity">Quantity</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remove</th>
                </tr>
              </thead>
              <tbody>
                {% for item_key,item in resp.items() %}
                <tr>
                  <td class="product-thumbnail">
                    <div><span id="image-{{ item_key }}" style="display: none;">{{ item.image }}</span><img class="img-fluid" src="{{ url_for('static', filename='images/' + item.image) }}"></div>
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black"><span id="name-{{ item_key }}">{{ item.name }}</span></h2>
                    <!-- <div class="row text-muted"><span id="name-{{ item_key }}">{{ item.name }}</span></div> -->
                    <h3 class="h5 text-black"><span id="description-{{ item_key }}">{{ item.description }}</span></h3>
                    <!-- <div class="row"><span id="description-{{ item_key }}">{{ item.description }}</span></div> -->

                  </td>
                  <td id="price-{{ item.id }}">${{ item.price / item.quantity }}</td>
                  <!-- <div class="col"><span id="price-{{ item_key }}">{{ item.price }}</span> <span class="close">&#10005;</span></div> -->

                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">

                      <span class="form-control text-center" id="quantity-{{ item_key }}">{{item.quantity}}</span>
                      <!-- <input type="text" class="form-control text-center quantity-amount" id="quantity" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1"> -->
                    </div>
                  </td>
                  <td id="price"><span id="price-{{ item_key }}">${{ item.price }}</span></td>
                  <td><button class="btn btn-danger cancel-btn" data-item-id="{{ item_key }}">X</button></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- <div class="row mb-5">
            <div class="col-md-6 mb-3 mb-md-0">
              <button class="btn btn-black btn-sm btn-block">Update Cart</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-outline-black btn-sm btn-block">Continue Shopping</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Coupon</label>
              <p>Enter your coupon code if you have one.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <select class="form-control py-3" id="coupon">
                <option value="0" data-discount="0">Select a coupon</option>
                <option value="coupon1" data-discount="5">5% Off</option>
                <option value="coupon2" data-discount="10">10% Off</option>
                <option value="coupon3" data-discount="15">15% Off</option>
              </select>
            </div>
            <div class="col-md-4">
              <button class="btn btn-black">Apply Coupon</button>
            </div>
          </div> -->
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Order Totals</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="cart-subtotal"><span id="total-amount">{{ initialTotal }}</span></strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong class="text-black" id="cart-total"><span id="total-amount-2">{{ initialTotal }}</span></strong>
                </div>
              </div>

              <!-- <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-black btn-lg py-3 btn-block" id="cancell_all">Cancell All</button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start footer Section -->
  {% include 'footer.html' %}
  <!-- End footer Section -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  <script>

  const cartData = {{ resp | tojson | safe }};

  // Function to calculate total amount
  function calculateTotalAmount() {
      let total = 0;
      for (const itemId in cartData) {
          const item = cartData[itemId];
          const priceElement = document.getElementById(`price-${itemId}`);
          total += parseFloat(priceElement.textContent.replace('$', ''));
      }
      return total.toFixed(2);
  }

  // Function to calculate total quantity
  function calculateTotalQuantity() {
      let itemCount = 0;
      for (const itemId in cartData) {
          const item = cartData[itemId];
          const quantityElement = document.getElementById(`quantity-${itemId}`);
          const quantity = parseInt(quantityElement.textContent.trim());
          itemCount += quantity;
      }
      return itemCount;
  }

  // Update total quantity and amount on page load
  window.addEventListener('load', function() {
      const totalAmountElement = document.getElementById('total-amount');
      const totalAmountElement2 = document.getElementById('total-amount-2');
      const itemCountElement = document.getElementById('item-count');
      totalAmountElement.textContent = '$' + calculateTotalAmount();
      totalAmountElement2.textContent = '$' + calculateTotalAmount();
      itemCountElement.textContent = calculateTotalQuantity();
  });

  $('.cancel-btn').click(function() {
    var orderId = $(this).data('item-id');
    // Show loader
    $('#loaderContainer').show();
    // Make AJAX request to cancel-order endpoint
    $.ajax({
        url: 'order-cancel',
        type: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        data: JSON.stringify({ orderId: orderId }),
        success: function(response) {
            // Hide loader
            $('#loaderContainer').hide();
            // Handle success response
            console.log('Order cancelled successfully.');
            location.reload();

            // Optionally, update the UI to reflect the cancelled order
        },
        error: function(xhr, status, error) {
            // Handle error response
            // Hide loader
            $('#loaderContainer').hide();
            console.error('Error cancelling order:', error);
        }
    });
});

</script>
</body>
</html>
