<!-- Profile Writing Section Start -->
  <div class="untree_co-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Profile Details</h2>
          <div class="p-3 p-lg-5 border bg-white">
            <div class="form-group row mb-3">
              <label for="country" class="text-black">Country <span class="text-danger">*</span></label>
              <select id="country" class="form-control">
                <option value="1">Select a country</option>
                <option value="2">India</option>    
                <option value="3">Algeria</option>    
                <option value="4">Afghanistan</option>    
                <option value="5">Ghana</option>    
                <option value="6">Albania</option>    
                <option value="7">Bahrain</option>    
                <option value="8">Colombia</option>    
                <option value="9">Dominican Republic</option>   
                <option value="10">Bangladesh</option>    
              </select>
            </div>
            <div class="form-group row mb-3">
              <div class="col-md-6">
                <label for="fname" class="text-black">First name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="fname" name="fname">
              </div>
              <div class="col-md-6">
                <label for="lname" class="text-black">Last name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="lname" name="lname">
              </div>
              <div class="col-md-6">
                <label for="uname" class="text-black">User name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="uname" name="uname">
              </div>
              <div class="col-md-6">
                <label for="password" class="text-black">Password<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="password" name="password">
              </div>
              <div class="col-md-6">
                <label for="email" class="text-black">Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email" name="email">
              </div>
              <div class="col-md-6">
                <label for="mobile" class="text-black">Mobile <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="mobile" name="mobile">
              </div>
              <div class="col-md-6">
                <label for="state" class="text-black"> State <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="state" name="state">
              </div>
              <div class="col-md-6">
                <label for="address" class="text-black">Address <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="address" name="address">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Profile Image</h2>
              <div class="p-3 p-lg-5 border bg-white text-center">
                <label for="image" class="text-black mb-3">Upload the profile image</label>
                <input type="file" class="form-control" id="image" name="image">
                <br>
                <img id="profileImage" src="" class="img-fluid mt-3" alt="Profile Image" style="max-width: 200px;">
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-black btn-lg py-3 btn-block" id="btn-block">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>