<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">
  <link rel="shortcut icon" href="favicon.png">
  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tiny-slider.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loader.css') }}"/>

  
  <title>Profile</title>
</head>

<body>

  <!-- Start Header/Navigation -->

  {% include 'header.html' %}

  <!-- End Header/Navigation -->


  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Profile</h1>
            <p class="mb-4">Hello Sunil, You can edit your profile and delivery address here</p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="{{ url_for('static', filename='images/couch.png') }}" class="img-fluid" alt="Modern Interior Design">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->


<!-- Profile Writing Section start -->

  {% include 'profile_update.html' %}

  <!-- Profile Writing Section End -->


  <!-- Start loader Section -->

  {% include 'loader.html' %}

  <!-- End loader Section -->


  <!-- Start footer Section -->

  {% include 'footer.html' %}

  <!-- End footer Section -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/profile.js') }}"></script> -->

<script>
  $(document).ready(function() {
  // Set form data
  // const profileData = {{ user_data|tojson }}; // Data from Flask
  const profileData = {{ user_data | tojson | safe }};


  $('#country').val(profileData.country);
  $('#fname').val(profileData.first_name);
  $('#lname').val(profileData.last_name);
  $('#uname').val(profileData.username);
  $('#password').val(profileData.password);
  $('#email').val(profileData.email);
  $('#mobile').val(profileData.mobile);
  $('#state').val(profileData.state);
  $('#address').val(profileData.address);
  $('#profileImage').attr('src', profileData.profile_image);

  $('#image').change(function() {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#profileImage').attr('src', e.target.result);
    }
    reader.readAsDataURL(this.files[0]);
  });

  $('#btn-block').click(function(e) {
    e.preventDefault();
    const loaderContainer = document.getElementById('loader-container');
    $('#loader-container').css('display', 'flex');

    var country = $('#country').val();
    var firstName = $('#fname').val();
    var lastName = $('#lname').val();
    var userName = $('#uname').val();
    var password = $('#password').val();
    var email = $('#email').val();
    var mobile = $('#mobile').val();
    var state = $('#state').val();
    var address = $('#address').val();
    var profileImageFile = $('#image')[0].files[0];

    var formData = new FormData();
    formData.append('country', country);
    formData.append('first_name', firstName);
    formData.append('last_name', lastName);
    formData.append('username', userName);
    formData.append('password', password);
    formData.append('email', email);
    formData.append('mobile', mobile);
    formData.append('state', state);
    formData.append('address', address);
    formData.append('profile_image', profileImageFile);

    fetch('/update_profile', {
      method: 'POST',
      body: formData
    }).then(response => response.json())
      .then(data => {
        $('#loader-container').css('display', 'none');
        setTimeout(function() {
            $('#success-icon').css('display', 'flex');
        }, 2000);
        location.reload();
        // alert(data.message);
      })
      .catch(error => {
        $('#loader-container').css('display', 'none');
        $('#success-icon').css('display', 'none');

        console.error('Error updating profile:', error);
      });
  });
});
</script>
</body>
</html>
