<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1">
                        <img src="{{url_for('static', filename='images/img-grid-1.jpg')}}" alt="Interior Design 1">
                    </div>
                    <div class="grid grid-2">
                        <img src="{{url_for('static', filename='images/img-grid-2.jpg')}}" alt="Interior Design 2">
                    </div>
                    <div class="grid grid-3">
                        <img src="{{url_for('static', filename='images/img-grid-3.jpg')}}" alt="Interior Design 3">
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">We Help You Create Modern Interior Designs</h2>
                <p>We specialize in helping you achieve contemporary and stylish interior designs. Our team is dedicated to providing you with high-quality design solutions tailored to your needs.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Customized interior design services</li>
                    <li>High-quality materials and craftsmanship</li>
                    <li>Professional and experienced designers</li>
                    <li>Comprehensive project management</li>
                </ul>
                <p><a href="#" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->