<!-- Start Services Section -->
<div class="why-choose-section">
    <div class="container">
        
        
        <div class="row my-5">
            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/truck.svg') }}" alt="Fast & Free Shipping" class="img-fluid svg-icon">
                    </div>
                    <h3>Fast & Free Shipping</h3>
                    <p>Enjoy free and fast shipping on all orders. We ensure that your products reach you swiftly and securely.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/bag.svg') }}" alt="Easy to Shop" class="img-fluid svg-icon">
                    </div>
                    <h3>Easy to Shop</h3>
                    <p>Our user-friendly website makes shopping easy and enjoyable. Find what you need quickly and effortlessly.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/support.svg') }}" alt="24/7 Support" class="img-fluid svg-icon">
                    </div>
                    <h3>24/7 Support</h3>
                    <p>Our dedicated support team is available around the clock to assist you with any queries or issues.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/return.svg') }}" alt="Hassle-Free Returns" class="img-fluid svg-icon">
                    </div>
                    <h3>Hassle-Free Returns</h3>
                    <p>We offer easy and hassle-free returns. If you're not satisfied with your purchase, return it with ease.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/secure.svg') }}" alt="Secure Payment" class="img-fluid svg-icon">
                    </div>
                    <h3>Secure Payment</h3>
                    <p>We prioritize the security of your transactions. Our secure payment gateway ensures safe and reliable transactions.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/catalog.svg') }}" alt="Wide Selection" class="img-fluid svg-icon">
                    </div>
                    <h3>Wide Selection</h3>
                    <p>Choose from a wide selection of products across various categories. Find exactly what you're looking for.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/guarantee.svg') }}" alt="Quality Guarantee" class="img-fluid svg-icon">
                    </div>
                    <h3>Quality Guarantee</h3>
                    <p>Our products come with a quality guarantee. Shop with confidence knowing that you're getting top-notch items.</p>
                </div>
            </div>

            <div class="col-6 col-md-6 col-lg-3 mb-4">
                <div class="feature">
                    <div class="icon">
                        <img src="{{ url_for('static', filename='images/satisfaction.svg') }}" alt="Quality Guarantee" class="img-fluid svg-icon">
                    </div>
                    <h3>Customer's satisfaction</h3>
                    <p>We listens and always take specific measurables for customers satisfaction</p>
                </div>
            </div>

        </div>
    
    </div>
</div>