<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>We offer exceptional quality and unbeatable value. Our products are designed with care and crafted to perfection.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/truck.svg') }}" alt="Fast & Free Shipping" class="img-fluid">
                            </div>
                            <h3>Fast & Free Shipping</h3>
                            <p>Enjoy free and fast shipping on all orders. We ensure that your products reach you swiftly and securely.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/bag.svg') }}" alt="Easy to Shop" class="img-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Our user-friendly website makes shopping easy and enjoyable. Find what you need quickly and effortlessly.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/support.svg') }}" alt="24/7 Support" class="img-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Our dedicated support team is available around the clock to assist you with any queries or issues.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/return.svg') }}" alt="Hassle-Free Returns" class="img-fluid">
                            </div>
                            <h3>Hassle-Free Returns</h3>
                            <p>We offer easy and hassle-free returns. If you're not satisfied with your purchase, return it with ease.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{{ url_for('static', filename='images/why-choose-us-img.jpg') }}" alt="Why Choose Us" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->